<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
            <% const today = new Date(); %>
            <% const weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; %>
            <% const currentDay = weekdays[today.getDay()]; %>
            <% let classesForDay = studentClasses.filter(classItem => classItem.day_id === today.getDay()); %>
        
            <% if(classesForDay.length > 0) { %>
                <% classesForDay.forEach((classItem, index) => { %>
                    <% if(index === 0){ %>
                        <div class="carousel-item active">
                            <div class="carousel-container">
                                <h2 class="animate__animated animate__fadeInDown"><%= classesForDay.length %> Classes on <%= currentDay %>:</h2>
                                <p>
                                    <% 
                                        switch (index) {
                                            case 0:
                                                %> First <% 
                                                break;
                                            case 1:
                                                %> Second <% 
                                                break;
                                            case 2:
                                                %> Third <% 
                                                break;
                                            case 3:
                                                %> Fourth <% 
                                                break;
                                            case 4:
                                                %> Fifth <% 
                                                break;
                                            case 5:
                                                %> Sixth <% 
                                                break;
                                        } 
                                    %> Class <%= classItem.course_code %> - At <%= classItem.start_time %>, Venue: <%= classItem.venue %>
                                </p>
                                <a href="#timetable" class="btn-get-started animate__animated animate__fadeInUp scrollto">View Full Timetable</a>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="carousel-item">
                            <div class="carousel-container">
                                <h2 class="animate__animated animate__fadeInDown"><%= classesForDay.length %> Classes on <%= currentDay %>:</h2>
                                <p>
                                    <% 
                                        switch (index) {
                                            case 0:
                                                %> First <% 
                                                break;
                                            case 1:
                                                %> Second <% 
                                                break;
                                            case 2:
                                                %> Third <% 
                                                break;
                                            case 3:
                                                %> Fourth <% 
                                                break;
                                            case 4:
                                                %> Fifth <% 
                                                break;
                                            case 5:
                                                %> Sixth <% 
                                                break;
                                        } 
                                    %> Class <%= classItem.course_code %> - At <%= classItem.start_time %>, Venue: <%= classItem.venue %>
                                </p>
                                <a href="#timetable" class="btn-get-started animate__animated animate__fadeInUp scrollto">View Full Timetable</a>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            <% } else { %>
                <div class="carousel-item active">
                    <div class="carousel-container">
                        <h2 class="animate__animated animate__fadeInDown">No classes Today</h2>
                        <a href="#timetable" class="btn-get-started animate__animated animate__fadeInUp scrollto">View Full Timetable</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-container">
                        <h2 class="animate__animated animate__fadeInDown">Take a rest. Wait for tomorrow's classes</h2>
                        <a href="#timetable" class="btn-get-started animate__animated animate__fadeInUp scrollto">View Full Timetable</a>
                    </div>
                </div>
            <% } %>
        
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            </a>
        
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
        
        
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path"
                    d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>
    </section><!-- End Hero -->
    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="timetable" class="about">
            
            <div class="container">
                <div class="section-title" data-aos="zoom-out">
                    <h2>Timetable</h2>
                    <p>Today is <strong><%= weekdays[today.getDay()] %></strong></p>
                </div>
                <div class="row content" data-aos="fade-up">
                    <% days.forEach(day => { %>
                        <div>
                            <h2><%= day.name %></h2>
                            <div>
                                <% let classesForDay = studentClasses.filter(classItem => classItem.day_id === day.day_id); %>
                                <% if(classesForDay.length > 0) { %>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Time</th>
                                                <th scope="col">Class</th>
                                                <th scope="col">Venue</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% classesForDay.forEach(classItem => { %>
                                                <tr>
                                                    <td><%= classItem.start_time %></td>
                                                    <td><%= classItem.course_code %></td>
                                                    <td><%= classItem.venue %></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                <% } else { %>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="3" scope="row" style="font-size: 18px;">No classes on <%= day.name %></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><i class="bi bi-circle-fill"></i></td>
                                                <td><i class="bi bi-circle-fill"></i></td>
                                                <td><i class="bi bi-circle-fill"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            
        </section><!-- End About Section -->

<!-- ======= Testimonials Section ======= -->
<section id="courses" class="testimonials">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Courses</h2>
            <p>These are the Courses available for registration together with the Lecturers that will be taking you through them.</p>
        </div>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <% courses.forEach(course => { %>
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="assets/img/testimonials/<%= course.lecturer_profilepicture %>" class="testimonial-img" alt="">
                            <h3><%= course.lecturer_name %></h3>
                            <h4 style="font-family: sans-serif; font-size: 30px; color: black;"><%= course.course_code %></h4>  
                            <h3><%= course.course_name %></h3>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title" data-aos="zoom-out">
          <h2>Get in Touch</h2>
          <p>Have questions or feedback? We'd love to hear from you! Reach out to us for support, inquiries, or partnership opportunities. Your input helps us continually improve CALASCHEDULE for the entire educational community.</p>
        </div>
        <div class="row mt-5">
        <div class="col-lg-4" data-aos="fade-right">
            
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <%- include('partials/footer') %>