<!-- ======= Header Section ======= -->
<%- include('partials/header') %> 
<!-- End Header -->

<!-- ======= Navbar Section ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <!-- <h1><a href="/">CALASCHEDULE</a></h1> -->
            <a href="/"><img src="assets/img/logo.png" alt="" class="img-fluid">CALASCHEDULE</a>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="/signup">Signup</a></li>
                <li><a class="nav-link scrollto active" href="/login">Login</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- End navbar -->
    </div>
</header><!-- End Header -->

<!-- ======= Main Section ======= -->
<main id="main" style="margin-top: 50px; min-height: 60vh;">
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Forgot Password</h2>
                <p>Enter your email address to request a password reset. We will send you an email with instructions to reset your password.</p>
            </div>
            
            <% if(error){ %>
                <div class="alert alert-danger" role="alert">
                    <%= message %>
                </div>
            <% } %>
            <% if(success){ %>
                <div class="alert alert-success" role="alert">
                    <%= message %>
                </div>
            <% } %>
            <% if(!otpinput){ %>
                <form action="/forgot-password" method="post" role="form" class="php-email-form">
                    <div class="row gy-2 gx-md-3">
                        <div class="form-group mt-3">
                            <label for="email">Your Email</label>
                            <input type="email" required class="form-control" name="email" value="" id="email" />
                        </div>
                        <div class="text-center col-12">
                            <button type="submit">Request Password Reset</button>
                        </div>
                    </div>
                </form>
            <% } else { %>
                <form action="/verify-otp-forgot-password" method="post" role="form" class="php-email-form">
                    <div class="row gy-2 gx-md-3">
                        <div class="form-group mt-3">
                            <div class="form-group mt-3">
                                <label for="email">Your Email</label>
                                <input type="email" required class="form-control" readonly name="email" value="<%= email %>" id="email" />
                            </div>
                            <label for="otp">OTP</label>
                            <div class="input-group">
                                <input type="number" required maxlength="4" class="form-control" name="otp" value="" id="otp" />
                            </div>
                        </div>
                        <div class="text-center col-12">
                            <button type="submit">Confirm OTP</button>
                        </div>
                    </div>
                </form>
            <% } %>
        </div>
    </section>
</main>
<!-- End #main -->

<%- include('partials/footer') %>
